In [1]:
from file_utils import FileManager

fm = FileManager()                
df1 = fm.get_csv("/Users/intankwardhani/Documents/BeCode/immo-eliza-team-horses-analysis/data/properties_data_original.csv")
df2 = fm.get_csv('/Users/intankwardhani/Documents/BeCode/immo-eliza-team-horses-analysis/data/properties_data.csv')

# sort the columns alphabetically
df1 = df1[sorted(df1.columns)]
df2 = df2[sorted(df2.columns)]

In [2]:
list_colnames_df1 = df1.columns.tolist()
list_colnames_df2 = df2.columns.tolist()

print(list_colnames_df1)
print(list_colnames_df2)

['build_year', 'equipped_kitchen', 'facades', 'furnished', 'garden', 'garden_area', 'living_area', 'locality_name', 'number_rooms', 'postal_code', 'price', 'property_id', 'property_type', 'state', 'swimming_pool', 'terrace', 'url']
['accessibility', 'address', 'elevator', 'facade', 'floor', 'floor_heating', 'furnished', 'garage', 'garden', 'glazing', 'living_surface', 'locality_name', 'number_baths', 'number_garage', 'number_rooms', 'postal_code', 'price', 'project_url', 'property_id', 'property_type', 'property_url', 'state', 'swimming_pool', 'terrace']

In [3]:
# rename some columns for uniformity
df1 = df1.rename(columns={
    "url": "property_url"
})

df2 = df2.rename(columns={
    "facade": "facades",
    "living_surface": "living_area"
})

print(df1.columns.tolist())
print(df2.columns.tolist())

['build_year', 'equipped_kitchen', 'facades', 'furnished', 'garden', 'garden_area', 'living_area', 'locality_name', 'number_rooms', 'postal_code', 'price', 'property_id', 'property_type', 'state', 'swimming_pool', 'terrace', 'property_url']
['accessibility', 'address', 'elevator', 'facades', 'floor', 'floor_heating', 'furnished', 'garage', 'garden', 'glazing', 'living_area', 'locality_name', 'number_baths', 'number_garage', 'number_rooms', 'postal_code', 'price', 'project_url', 'property_id', 'property_type', 'property_url', 'state', 'swimming_pool', 'terrace']

In [4]:
# remove columns we don't need
df1cols_todrop = ['equipped_kitchen', 'furnished', 'garden_area']
df2cols_todrop = ['accessibility', 'address', 'elevator', 'floor', 'floor_heating',
                  'furnished', 'garage', 'glazing', 'number_baths', 'number_garage', 'project_url']

ddf1 = df1.drop(columns=df1cols_todrop)
ddf2 = df2.drop(columns=df2cols_todrop)

# reorder the colnames in the new dfs
ddf1 = ddf1[sorted(ddf1.columns)]
ddf2 = ddf2[sorted(ddf2.columns)]

print(ddf1.columns.tolist())
print(ddf2.columns.tolist())

# check the number of columns and rows
print(ddf1.shape[0])
print(ddf2.shape[0])
print(ddf1.shape[1])
print(ddf2.shape[1])

['build_year', 'facades', 'garden', 'living_area', 'locality_name', 'number_rooms', 'postal_code', 'price', 'property_id', 'property_type', 'property_url', 'state', 'swimming_pool', 'terrace']
['facades', 'garden', 'living_area', 'locality_name', 'number_rooms', 'postal_code', 'price', 'property_id', 'property_type', 'property_url', 'state', 'swimming_pool', 'terrace']
6702
5016
14
13

In [5]:
# show a subset of data
ddf1.head(18)

,build_year,facades,garden,living_area,locality_name,number_rooms,postal_code,price,property_id,property_type,property_url,state,swimming_pool,terrace
0,2004.0,2.0,0,35.0,Brussels,1.0,1000.0,225 000 €,rbu58257,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,1.0
1,2024.0,3.0,0,59.0,Turnhout,1.0,2300.0,197 000 €,rbu36061,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,New,0,1.0
2,1939.0,2.0,0,65.0,Berchem-Sainte-Agathe,2.0,1082.0,169 000 €,vbd48093,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,1.0
3,2013.0,2.0,0,57.0,Brussels,1.0,1000.0,220 000 €,rbu58259,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,1.0
4,2024.0,3.0,0,66.0,Turnhout,1.0,2300.0,225 000 €,rbu36063,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,New,0,1.0
5,2022.0,2.0,0,90.0,Berchem-Sainte-Agathe,2.0,1082.0,320 000 €,vbd48994,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,New,0,1.0
6,2024.0,3.0,0,61.0,Turnhout,1.0,2300.0,202 000 €,rbu36067,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,New,0,1.0
7,NaN,NaN,0,37.0,Brussels,1.0,1000.0,219 000 €,rbu60048,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,0.0
8,1966.0,2.0,0,114.0,Ganshoren,2.0,1083.0,250 000 €,vbd26573,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,1.0
9,2014.0,2.0,0,60.0,Brussels,1.0,1000.0,215 000 €,rbu62122,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,0.0
10,2024.0,3.0,0,59.0,Turnhout,1.0,2300.0,202 000 €,rbu36069,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,New,0,1.0
11,1969.0,2.0,0,100.0,Ganshoren,2.0,1083.0,229 000 €,vbd38111,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,1.0
12,2015.0,2.0,0,29.0,Brussels,1.0,1000.0,150 000 €,rbu64197,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,0.0
13,NaN,1.0,0,76.0,Ganshoren,2.0,1083.0,215 000 €,vbd42948,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,NaN,0,1.0
14,2024.0,3.0,0,90.0,Turnhout,2.0,2300.0,305 000 €,rbu36070,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,New,0,1.0
15,2008.0,2.0,0,77.0,Brussels,2.0,1000.0,287 500 €,rbu64473,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Fully renovated,0,0.0
16,1965.0,4.0,0,114.0,Ganshoren,3.0,1083.0,289 000 €,vbd45416,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,1.0
17,1972.0,3.0,0,148.0,Turnhout,4.0,2300.0,245 000 €,rbu60897,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,1.0

In [6]:
# clean and normalise data: float --> int, numerical string --> int, pure string --> str

from data_utils import DataCleaner

cols_toclean = ['build_year', 'facades', 'garden', 'living_area', 'number_rooms', 'postal_code',
                'swimming_pool', 'terrace']
cleaner = DataCleaner()
clean_df1 = cleaner.float_to_int(ddf1, columns=cols_toclean)
clean_df2 = cleaner.float_to_int(ddf2, columns=cols_toclean)
clean_df1 = cleaner.extract_int_from_string(clean_df1, columns=['price'])
clean_df2 = cleaner.extract_int_from_string(clean_df2, columns=['price'])

In [7]:
# show
clean_df1.head(18)

,build_year,facades,garden,living_area,locality_name,number_rooms,postal_code,price,property_id,property_type,property_url,state,swimming_pool,terrace
0,2004,2,0,35,Brussels,1,1000,225000,rbu58257,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,1
1,2024,3,0,59,Turnhout,1,2300,197000,rbu36061,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,New,0,1
2,1939,2,0,65,Berchem-Sainte-Agathe,2,1082,169000,vbd48093,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,1
3,2013,2,0,57,Brussels,1,1000,220000,rbu58259,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,1
4,2024,3,0,66,Turnhout,1,2300,225000,rbu36063,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,New,0,1
5,2022,2,0,90,Berchem-Sainte-Agathe,2,1082,320000,vbd48994,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,New,0,1
6,2024,3,0,61,Turnhout,1,2300,202000,rbu36067,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,New,0,1
7,<NA>,<NA>,0,37,Brussels,1,1000,219000,rbu60048,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,0
8,1966,2,0,114,Ganshoren,2,1083,250000,vbd26573,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,1
9,2014,2,0,60,Brussels,1,1000,215000,rbu62122,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,0
10,2024,3,0,59,Turnhout,1,2300,202000,rbu36069,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,New,0,1
11,1969,2,0,100,Ganshoren,2,1083,229000,vbd38111,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,1
12,2015,2,0,29,Brussels,1,1000,150000,rbu64197,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,0
13,<NA>,1,0,76,Ganshoren,2,1083,215000,vbd42948,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,NaN,0,1
14,2024,3,0,90,Turnhout,2,2300,305000,rbu36070,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,New,0,1
15,2008,2,0,77,Brussels,2,1000,287500,rbu64473,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Fully renovated,0,0
16,1965,4,0,114,Ganshoren,3,1083,289000,vbd45416,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,1
17,1972,3,0,148,Turnhout,4,2300,245000,rbu60897,Apartment,https://immovlan.be/en/detail/apartment/for-sa...,Normal,0,1

In [8]:
print(clean_df1.shape[0])
print(clean_df2.shape[0])
print(clean_df1.shape[1])
print(clean_df2.shape[1])

6702
5016
14
13

In [9]:
# finally stack the dataframes vertically together 
import pandas as pd
df = pd.concat([clean_df1, clean_df2], ignore_index=True)

In [10]:
print(df.shape[0])
print(df.shape[1])

11718
14

In [11]:
# export the dataframe to csv
fm.export_csv(df, "/Users/intankwardhani/Documents/BeCode/immo-eliza-team-horses-analysis/data/properties_data_final.csv")

DataFrame exported to /Users/intankwardhani/Documents/BeCode/immo-eliza-team-horses-analysis/data/properties_data_final.csv